# Copie ce fichier en .env et remplis les valeurs
# Ne jamais commiter le fichier .env

# ── Pinata (IPFS) ──────────────────────────────
PINATA_API_KEY=6a089b300be0f52f119b
PINATA_API_SECRET=58926bf4c753de65e0e6a9d298a854a202e13673dae38c69bfaf8de585fc79a1
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJhMzg4ZjYxNi03MWZhLTRkYmMtOWFiOS1jNGY3YzQyODlkYWUiLCJlbWFpbCI6ImNhdHJpZWxtaWNoZWxsZTVAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjZhMDg5YjMwMGJlMGY1MmYxMTliIiwic2NvcGVkS2V5U2VjcmV0IjoiNTg5MjZiZjRjNzUzZGU2NWUwZTZhOWQyOThhODU0YTIwMmUxMzY3M2RhZTM4YzY5YmZhZjhkZTU4NWZjNzlhMSIsImV4cCI6MTgwNTIxMjE4OX0.1I_NBgmusefppxqjlP9deZWVoXaajZs21zaDkcpXyK0

# ── Réseau blockchain (Testnet uniquement) ──────
ALCHEMY_API_KEY=ta_clé_alchemy_ici
PRIVATE_KEY=ta_clé_privée_wallet_testnet

# ── Contrats déployés ───────────────────────────
CONTRACT_ADDRESS=adresse_du_contrat_après_déploiement

# ── CIDs IPFS des images ────────────────────────
CID_IMAGE_WATCH_001=bafybeifehbwtdldyndszox4pdq6mnznimaqkttdsazes7vy7a2gae2cdfi
CID_IMAGE_WATCH_002=bafybeieiz42dpgr2eiywr6liuhhhgqs34wlvvagrpx6mg46ctis6y65kuu

# ── CIDs IPFS des métadonnées JSON ──────────────
CID_WATCH_001=bafkreif5plmd76ojc5xpsnbakkleuivhcnqrzvg3hcaaufiqpfosvxr4pq
CID_WATCH_002=bafkreiednh3yzqqwn62wddondat33z2tj6w3tvujk2ubgytnrwsm4nf4dm
